* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(65, 18, 58);
    color: rgb(254, 255, 254);
    overflow: hidden;
    overflow-y: scroll;
}